ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/AccountContactRoleModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactrolemodel" xmlns:gw="http://guidewire.com/xsd" xmlns:ns0="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.contactmodel" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactrolemodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="ContactModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.contactmodel" />
  <xsd:element name="AccountContactRole" nillable="true" type="AccountContactRole" />
  <xsd:complexType name="AccountContactRole">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="entity-Driver" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.util.Date" minOccurs="0" name="DateCompletedTrainingClass" nillable="true" type="xsd:dateTime" />
            <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="GoodDriverDiscount" nillable="true" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="NumberofAccidents" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="NumberofViolations" nillable="true" type="xsd:string" />
            <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="Student" nillable="true" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="TrainingClassType" nillable="true" type="xsd:string" />
            <xsd:element gw:type="java.lang.Integer" minOccurs="0" name="YearLicensed" nillable="true" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="entity-NamedInsured" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="BusOpsDescription" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="IndustryCode" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element gw:type="java.lang.String" minOccurs="0" name="Code" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="OrgType" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="entity-OwnerOfficer" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="RelationshipTitle" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="AccountContact" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Contact" nillable="true" type="ns0:Contact" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Subtype" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>