ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/AccountModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.mutualmembershipfmgmodel" xmlns:ns6="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.riskadjustmentfmgmodel" xmlns:ns5="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.reviewedbyfmgmodel" xmlns:gw="http://guidewire.com/xsd" xmlns:ns4="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.operatingunitfmgmodel" xmlns:ns0="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactmodel" xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountmodel" xmlns:ns3="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.notemodel" xmlns:ns1="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.contactmodel" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="AccountContactModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactmodel" />
  <xsd:import schemaLocation="ContactModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.contactmodel" />
  <xsd:import schemaLocation="MutualmembershipFmgModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.mutualmembershipfmgmodel" />
  <xsd:import schemaLocation="NoteModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.notemodel" />
  <xsd:import schemaLocation="OperatingUnitFmgModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.operatingunitfmgmodel" />
  <xsd:import schemaLocation="ReviewedByFmgModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.reviewedbyfmgmodel" />
  <xsd:import schemaLocation="RiskAdjustmentFmgModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.riskadjustmentfmgmodel" />
  <xsd:element name="Account" nillable="true" type="Account" />
  <xsd:complexType name="Account">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AccountContacts" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="ns0:AccountContact" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="AccountHolderContact" nillable="true" type="ns1:Contact" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="AccountNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountOrgType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountType_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="BusOpsDesc" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="Category_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="CCIReviewBy_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.util.Date" minOccurs="0" name="CCIReviewDate_fmg" nillable="true" type="xsd:dateTime" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="FedFarmMembershipNumber_fmg" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HighValueClientTL_fmg" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IndustryCode" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="Code" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="Domain" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MutualMembership" nillable="true" type="ns2:MutualMembership_fmg" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="New" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="NewClient_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Notes" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="ns3:Note" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OpUnitCode_fmg" nillable="true" type="ns4:OperatingUnit_fmg" />
      <xsd:element gw:type="java.util.Date" minOccurs="0" name="OriginationDate" nillable="true" type="xsd:dateTime" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="OtherOrgTypeDescription" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryActivity_fmg" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="Code" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PrimaryLanguage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProducerCodes" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ProducerCode" nillable="true">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element gw:type="java.lang.String" minOccurs="0" name="Code" nillable="true" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute gw:type="gw.xml.xsd.ArrayAction" name="action" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReviewedBy_fmg" nillable="true" type="ns5:ReviewedBy_fmg" />
      <xsd:element minOccurs="0" name="RiskAdjustment" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="ns6:RiskAdjustment_fmg" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SalesRole_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="StateBureauNum" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Integer" minOccurs="0" name="YearBusinessStarted" nillable="true" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>