ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/AccountContactModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.contactmodel" xmlns:gw="http://guidewire.com/xsd" xmlns:ns0="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactrolemodel" xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactmodel" xmlns:ns1="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountmodel" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="AccountContactRoleModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactrolemodel" />
  <xsd:import schemaLocation="AccountModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountmodel" />
  <xsd:import schemaLocation="ContactModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.contactmodel" />
  <xsd:element name="AccountContact" nillable="true" type="AccountContact" />
  <xsd:complexType name="AccountContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Account" nillable="true" type="ns1:Account" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="Active" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Contact" nillable="true" type="ns2:Contact" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="ContactRoleRelationship_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="IsCareOf_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Roles" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="ns0:AccountContactRole" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Subtype" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>