ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/AddressModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.addressmodel" xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.addressmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Address" nillable="true" type="Address" />
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="AddressBookUID" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="AddressLine1" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="AddressLine2" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="AddressLine3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressType" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="CareOfName_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="County" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="LocationIdDM_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PropertyName_fmg" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="RuralAddress_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>