ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/MutualmembershipFmgModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.usermodel" xmlns:gw="http://guidewire.com/xsd" xmlns:ns0="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactmodel" xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.mutualmembershipfmgmodel" xmlns:ns1="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountmodel" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.mutualmembershipfmgmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="AccountContactModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountcontactmodel" />
  <xsd:import schemaLocation="AccountModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.accountmodel" />
  <xsd:import schemaLocation="UserModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.usermodel" />
  <xsd:element name="MutualMembership_fmg" nillable="true" type="MutualMembership_fmg" />
  <xsd:complexType name="MutualMembership_fmg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Account" nillable="true" type="ns1:Account" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="CanBeMember" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="IsAMember" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.util.Date" minOccurs="0" name="ReviewDate" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="ReviewedBy" nillable="true" type="ns2:User" />
      <xsd:element minOccurs="0" name="Voter" nillable="true" type="ns0:AccountContact" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>