ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/NoteModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.notemodel" xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.notemodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Note" nillable="true" type="Note" />
  <xsd:complexType name="Note">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Account" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="AccountNumber" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="AttemptedContact_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Author" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element gw:type="java.util.Date" minOccurs="0" name="AuthoringDate" nillable="true" type="xsd:dateTime" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="Body" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="Confidential" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="DeclinedOnFarmReview_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="EmailContact_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="FarmVisit_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Long" minOccurs="0" name="LoadCommandID" nillable="true" type="xsd:long" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="OnFarmReview_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="PhoneCall_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="Priority" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="RenewalConversation_fmg" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.util.Date" minOccurs="0" name="ReviewDate" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="SecurityType" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="Subject" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Topic" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>