ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/OfficialIDModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.officialidmodel" xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.officialidmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="OfficialID" nillable="true" type="OfficialID" />
  <xsd:complexType name="OfficialID">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="entity-PCOfficialID" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element gw:type="java.lang.String" minOccurs="0" name="PatternCode" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OfficialIDType" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="OfficialIDValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Subtype" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>