ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/PhoneFmgModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.phonefmgmodel" xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.phonefmgmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Phone_fmg" nillable="true" type="Phone_fmg" />
  <xsd:complexType name="Phone_fmg">
    <xsd:sequence>
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="ContactNote" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneType" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.lang.Boolean" minOccurs="0" name="PrimaryPhone" nillable="true" type="xsd:boolean" />
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>