ServiceManagerHelper/Connected Services/DevInt_PolicyCenterService/ReviewedByFmgModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.reviewedbyfmgmodel" xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.reviewedbyfmgmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ReviewedBy_fmg" nillable="true" type="ReviewedBy_fmg" />
  <xsd:complexType name="ReviewedBy_fmg">
    <xsd:sequence>
      <xsd:element gw:type="java.lang.String" minOccurs="0" name="DisplayName" nillable="true" type="xsd:string" />
      <xsd:element gw:type="java.util.Date" minOccurs="0" name="ReviewDate" nillable="true" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>