ServiceManagerHelper/Connected Services/Localhost_PC/ContactModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.contactmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../../../../gw/webservice/pc/pc900/gxmodel/AddressModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.addressmodel" />
  <xs:import schemaLocation="../../../../../gw/webservice/pc/pc900/gxmodel/Phone_fmgModel.gx" namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.phone_fmgmodel" />
  <xs:element xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.contactmodel" name="Contact" nillable="true" type="Contact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity-Person" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element gw:type="java.lang.String" minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.String" minOccurs="0" name="FirstNameKanji" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.String" minOccurs="0" name="LastName" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.String" minOccurs="0" name="LastNameKanji" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.String" minOccurs="0" name="Particle" nillable="true" type="xs:string" />
            <xs:element gw:type="java.util.Date" minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
            <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.Boolean" minOccurs="0" name="IsDeceased_fmg" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.String" minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
            <xs:element gw:type="java.lang.String" minOccurs="0" name="PreferredName_fmg" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="EmployeeStatus_fmg" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element gw:type="java.lang.String" minOccurs="0" name="AddressBookUID" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="EmailAddress1" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="EmailAddress2" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="NameKanji" nillable="true" type="xs:string" />
      <xs:element xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.addressmodel" minOccurs="0" name="PrimaryAddress" nillable="true" type="Address" />
      <xs:element minOccurs="0" name="PrimaryPhone" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="PublicID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryAddresses" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.addressmodel" minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="Address" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Subtype" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="entity-Company" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element gw:type="java.lang.String" minOccurs="0" name="LegalName_fmg" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AllAddresses" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.addressmodel" minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="Address" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Phones_fmg" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc900.gxmodel.phone_fmgmodel" minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="Phone_fmg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element gw:type="java.lang.String" minOccurs="0" name="MobilePhone_fmg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoEmailReasonTL_fmg" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.Boolean" minOccurs="0" name="IsMigrated_fmg" nillable="true" type="xs:boolean" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="MailName_fmg" nillable="true" type="xs:string" />
      <xs:element gw:type="java.lang.String" minOccurs="0" name="Salutation_fmg" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute gw:type="gw.xml.xsd.ArrayAction" name="action" type="xs:string" />
  </xs:complexType>
</xs:schema>